<div class="login">
  <div class="login-container">
    <!-- Left Panel with Lottie Animation -->
    <div class="left-panel">
      <app-lottie></app-lottie>
    </div>
    <!-- Right Panel with Login Form -->
    <div class="right-panel">
      <div class="login-box">
        <section class="mat-typography">
          <h1>Log in</h1>
        </section>
        <form>
          <div class="input-group">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter your username" />
          </div>
          <div class="input-group">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter your password" />
          </div>
          <div class="actions">
            <a routerLink='/register'>Don't have an account?</a>
            <a routerLink='/forgotpassword'>Forgot password?</a>
          </div>
          <button mat-raised-button color="accent" routerLink="/register">Sign in</button>
        </form>
      </div>
    </div>
  </div>

</div>